<div id="content"></div>

<script src="./assets/js/comment.jsx" type="text/jsx"></script>
<script src="./assets/js/commentList.jsx" type="text/jsx"></script>
<script src="./assets/js/commentForm.jsx" type="text/jsx"></script>
<script src="./assets/js/commentBox.jsx" type="text/jsx"></script>
